{%- extends "bootstrap/base.html" %}

{% block title %}Toilet Bowl Champ: Schedules Results{% endblock %}

{% block body %}
{% block content %}
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-MMR4TT"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MMR4TT');</script>
<!-- End Google Tag Manager -->
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70240524-1', 'auto');
  ga('send', 'pageview');

</script>

<center><img src={{ url_for('static', filename='logo.jpg') }}></center>

<br>
 <div class="container">
     <div class="text-center col-md-12">
        <H3 class="text-primary">If {{alt_owner}} had...</H3>
     </div>
     <div class="row">
     {% for owner in owners if owner != alt_owner %}
     {% set wins = [] %}
     {% set losses = [] %}
            <div class="text-center col-md-6">
            <H4>{{owner}}'s schedule</H4>
            <table class="table table-condensed">
                <thead>
                   <th class="text-center bg-info">Result</th>
                   <th class="text-center bg-info">Team</th>
                   <th class="text-center bg-info">Score</th>
                   <th class="text-center bg-info">Team</th>
                   <th class="text-center bg-info">Score</th>

                </thead>
                <tbody>
                {% for week in season_scores %}
                {% if week[season_schedule[owner][loop.index - 1]] >  week[alt_owner] %}
                {% if losses.append(1) %}{%- endif %}
                <tr class="danger">
                    <td>Loss</td>
                {% else %}
                {% if wins.append(1) %}{%- endif %}
                <tr class="success">
                    <td>Win</td>
                {%- endif %}
                    <td>{{ alt_owner }}</td>
                    <td>{{ week[alt_owner] }}</td>
                    <td>{{ season_schedule[owner][loop.index - 1] }}</td>
                    <td>{{ week[season_schedule[owner][loop.index - 1]] }}</td>
                </tr>
                {% endfor %}
                <td class="bg-info"><strong>Total</strong></td>
                <td class="bg-info"><strong>Wins</strong></td>
                <td class="bg-info"><strong>{{wins|length}}</strong></td>
                <td class="bg-info"><strong>Losses</strong></td>
                <td class="bg-info"><strong>{{losses|length}}</strong></td>
                </tbody>
            </table>
         </div>
     {% endfor %}
     </div>
 </div>
<div class="footer fixed-bottom">
<center><small>A <a href="https://www.twitter.com/tsbicca">@tsbicca</a> joint<br>
Bugs? Feature Requests? This is an open source site.  <a href="https://github.com/tsbicca/espn_fantasy_football_alternate_history">Contribute on github.</a></small></center>
</div>
{% endblock %}
{% endblock %}