{%- extends "bootstrap/base.html" %}

{% block title %}Toilet Bowl Champ Dot Com{% endblock %}

{% block body %}
{% block content %}
<center><img src={{ url_for('static', filename='logo.jpg') }}></center>
<br>
<div class="jumbotron vertical-center">
  <div class="container">
    <form action="/" method="post">
      <div class="form-group">
        <label for="leagueURL">League URL</label>
        <input name="leagueURL" type="text" class="form-control" id="leagueURL" placeholder="League URL">
      </div>
      <p class="help-block">Enter any URL from your ESPN league website</p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
<div class="footer navbar-fixed-bottom">
<center><small>A <a href="https://www.twitter.com/tsbicca">@tsbicca</a> joint<br>
Bugs? Feature Requests? This is an open source site.  <a href="https://github.com/tsbicca/espn_fantasy_football_alternate_history">Contribute on github.</a></small></center>
</div>
{% endblock %}
{% endblock %}